<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
		
	<head>
		<title>WebCalculator</title>
		<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/custom.css}"/>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1 id="calculatorNumberView"></h1>
				<p id="bufferNumber"></p>
				<p class="hidden" id="bufferOperator"></p>
			</div>
			<div class="row">
				<h3 class="calculatorButton operator col-sm">CE</h3>
				<h3 class="calculatorButton operator col-sm">C</h3>
				<h3 class="calculatorButton operator col-sm"><-</h3>
				<h3 class="calculatorButton operator col-sm">/</h3>
			</div>
			<div class="row">
				<h3 class="calculatorButton number col-sm">7</h3>
				<h3 class="calculatorButton number col-sm">8</h3>
				<h3 class="calculatorButton number col-sm">9</h3>
				<h3 class="calculatorButton operator col-sm">*</h3>
			</div>
			<div class="row">
				<h3 class="calculatorButton number col-sm">4</h3>
				<h3 class="calculatorButton number col-sm">5</h3>
				<h3 class="calculatorButton number col-sm">6</h3>
				<h3 class="calculatorButton operator col-sm">-</h3>
			</div>
			<div class="row">
				<h3 class="calculatorButton number col-sm">1</h3>
				<h3 class="calculatorButton number col-sm">2</h3>
				<h3 class="calculatorButton number col-sm">3</h3>
				<h3 class="calculatorButton operator col-sm">+</h3>
			</div>
			<div class="row">
				<h2>Result:</h2>
				<h2 id="result"></h2>
			</div>
		</div>
		
		<script type="text/javascript" th:src=@{/jquery/jquery.js}></script>
		<script type="text/javascript" th:src=@{/bootstrap/js/bootstrap.min.js}></script>
		<script type="text/javascript" th:src=@{/custom/custom.js}></script>
	</body>
</html>